.topmenu {	font-family: Arial, Helvetica, sans-serif;	font-size: 11px;	font-style: normal;	font-weight: bold;	color: #003366;	text-decoration: none;}
.topmenuro {	font-family: Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold;	color: #CC0000;	text-decoration: none;}
.homepagesubtitle {	text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;	font-size: 13px;	font-style: italic;	font-weight: bold;	color: #003366;	text-decoration: none;	line-height: 21px;}.updated {	font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	line-height: 12px;	font-weight: normal;	color: #6699FF;	text-decoration: none;}.updatedlight {	font-family: Arial, Helvetica, sans-serif;	font-size: 10px;	line-height: 12px;	font-weight: normal;	color: #99CCFF;	text-decoration: none;}.postcode {	font-family: Arial, Helvetica, sans-serif;	font-size: 11px;	font-style: italic;	line-height: 12px;	font-weight: normal;	color: #003366;	text-decoration: none;}.topmenuon {	font-family: Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold;	color: #FFFFFF;	text-decoration: none;}.linksinstruction {	font-family: Georgia, "Times New Roman", Times, serif;	font-size: 14px;	font-style: italic;	color: #003366;	text-decoration: none;	line-height: 18px;}.heading {	font-family: Georgia, "Times New Roman", Times, serif;	font-size: 21px;	font-style: italic;	color: #003366;	text-decoration: none;	font-weight: bold;	line-height: 26px;}.newsheading {	font-family: Arial, Helvetica, sans-serif;	font-size: 11px;	line-height: 14px;	color: #FFFFFF;	text-decoration: none;	font-weight: bold;}.newsinfo {	font-family: Arial, Helvetica, sans-serif;	font-size: 11px;	line-height: 14px;	color: #003366;	text-decoration: none;	font-style: normal;	font-weight: normal;}.choices {	font-family: Georgia, "Times New Roman", Times, serif;	font-size: 21px;	font-style: italic;	line-height: normal;	font-weight: bold;	color: #003366;	text-decoration: none;}.choicesro {	font-family: Georgia, "Times New Roman", Times, serif;	font-size: 21px;	line-height: normal;	font-weight: bold;	color: #CC0000;	text-decoration: none;	font-style: italic;}.heading2 {	font-family: Georgia, "Times New Roman", Times, serif;	font-size: 21px;	font-style: italic;	font-weight: normal;	color: #003366;	text-decoration: none;	line-height: 26px;}.italicsmall {	font-family: Arial, Helvetica, sans-serif;	font-size: 11px;	font-style: italic;	line-height: 14px;	color: #003366;	text-decoration: none;	font-weight: normal;}.fixtureheading {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	font-weight: bold;	color: #003366;	text-decoration: none;}.fixtureinfo {	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	font-weight: normal;	color: #003366;	text-decoration: none;}

  body {
    background-color: #485778;
  }

  #menu-top {
    background: url(./images/structure/topangle2.jpg) no-repeat top right;
    height: 1rem;
  }

  #menu {
    height: 3rem;
    background-color: #99CCFF;
  }

  h1 {
    margin-bottom: 1rem;
    color: #485778;
  }

  .content {
    background-color: #99CCFF;
  }

  .webapp svg{
    float: left;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .webapp {
    padding: 0.5rem;
    color: #333;
    background-color: #dfecfa;
    display: block;
    min-height: 6rem;
    margin-bottom: 1rem;
    text-decoration: none;
    line-height: 1.6rem;
  }

  .webapp:hover {
    background-color: #eee;
    text-decoration: none;
    color: #333;
  }

  .fb-page {
    margin-bottom: 1rem;
  }

  footer {
    text-align: center;
    padding-top: 1rem;
    min-height: 4rem;
  }

  footer.contact {
    background-color: #003366;
    color: #6699FF;
  }

  footer.contact a {
    color: #99CCFF;
    text-decoration: none;
  }

  footer.contact a {
    color: #99CCFF;
  }

  footer.address
   {
    color: #003366;
    margin-bottom: 2rem;
    min-height: 3rem;
    background-color: #6699FF;
  }